.coach {
  position: relative;
  width: 260px;
  height: 294px;
  aspect-ratio: 260/294;

  @include vp-1199 {
    width: 100%;
    height: auto;
    aspect-ratio: 268/294;
  }

  @include vp-767 {
    aspect-ratio: 226/274;
  }
}

.coach__photo-wrapper {
  @include vp-1199 {
    width: 100%;
    aspect-ratio: 268/294;
  }

  @include vp-767 {
    aspect-ratio: 226/274;
  }
}

.coach__photo-wrapper img {
  @include vp-1199 {
    width: 100%;
    height: 100%;
    min-width: 268px;
    min-height: 294px;
  }

  @include vp-767 {
    min-width: 226px;
    min-height: 274px;
  }
}

.coach__text-wrapper {
  display: flex;
  flex-direction: column;
  padding: 55px 20px 23px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: $color-default-white;
  text-align: center;
  justify-content: flex-end;

  @include hover {
    background-color: rgba(16, 38, 84, 0.89);
    justify-content: flex-start;
  }

  @include vp-767 {
    padding: 45px 20px 23px;
  }
}

.coach__text-wrapper:hover:not(.focus-visible) .coach__text-wrapper p,
.coach__text-wrapper:hover:not(.focus-visible) .coach__type,
.coach__text-wrapper:hover:not(.focus-visible) .coach__skills-list {
  display: block;
}

.coach__text-wrapper h3,
.coach__name-header {
  margin: 0;
  padding-bottom: 3px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.coach__text-wrapper p,
.coach__type {
  display: none;
  margin: 0;
  padding-bottom: 35px;
  font-size: 16px;
  line-height: 18px;
  color: $spindle;
}

.coach__skills-list {
  padding: 0;
  padding-left: 35px;
  display: none;
  list-style: none;
}

.coach__skills-item {
  position: relative;
  padding: 0;
  padding-left: 16px;
  font-size: 14px;
  line-height: 21px;
  text-align: start;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: $color-default-white;
  }
}

.coach__skills-item + .coach__skills-item {
  margin-top: 13px;
}
