.coaches__container {
  position: relative;
  padding-top: 8px;
  padding-bottom: 91px;
}

.coaches__slider-container {
  padding-top: 26px;
}

.coaches__container h2,
.coaches__main-header {
  margin: 0;
  padding-left: 2px;
  padding-bottom: 20px;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  color: $sapphire;
  letter-spacing: 0.03em;
}

.coaches__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.coaches__slider-button {
  position: absolute;
  z-index: 1;
  top: 250px;
  height: 32px;
  width: 16px;
  background-image: url("../img/svg/icon-slider-tick-left.svg");
  background-size: cover;
}

.coaches__slider-button--prev {
  left: 46px;
}

.coaches__slider-button--next {
  rotate: 180deg;
  right: 46px;
}

