.contact-us {
  position: relative;
  background: linear-gradient(90deg, $sapphire 50%, $color-default-white 50%, $color-default-white 100%);

  &::before {
    content: "";
    background-color: $light-slate-grey;
    width: 50vw;
    height: 1px;
    position: absolute;
    top: 0;
    left: 50vw;
  }
}

.contact-us__container h2,
.contact-us__main-header {
  @extend.visually-hidden;
}

.contact-us__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
