.contacts {
  box-sizing: border-box;
  padding: 56px 0 56px 120px;
  min-height: 337px;
}

.contacts h3,
.contacts__header {
  margin: 0;
  padding-bottom: 37px;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $sapphire;
}

.contacts__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 170px 1fr;
  row-gap: 30px;
  column-gap: 120px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 230px;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: $sapphire;
  }
}

.contacts__item {
  width: fit-content;
  max-width: 170px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $sapphire;

}

.contacts__item--phone {
  grid-row: 1;
  grid-column: 2;
}

.contacts__property {
  margin: 0;
}

.contacts__property-term {
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.contacts__property-details {
  margin: 0;
  padding: 0;
}
