.contact-us {
  position: relative;
  background: linear-gradient(90deg, $sapphire 50%, $color-default-white 50%, $color-default-white 100%);

  @include vp-1199 {
    position: static;
    background: $color-default-white;
  }

  &::before {
    content: "";
    background-color: $light-slate-grey;
    width: 50vw;
    height: 1px;
    position: absolute;
    top: 0;
    left: 50vw;

    @include vp-1199 {
      content: none;
    }
  }
}

.contact-us__container h2,
.contact-us__main-header {
  @extend.visually-hidden;
}

.contact-us__container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-1199 {
    display: block;
  }
}

.contact-us__free-try {
  @include vp-1199 {
    width: 100vw;
    margin: 0 -45px;
    min-height: 324px;
  }

  @include vp-767 {
    margin: 0 -15px;
    min-height: 386px;
  }
}
