.subscription {
  position: relative;
  background-color: $ghost-white;
  padding-top: 120px;
  padding-bottom: 100px;

  &::before {
    content: "";
    position: absolute;
    bottom: -150px;
    right: 0;
    height: 494px;
    width: 287px;
    background: url("../img/background/barbells.png");
  }
}

.subscription__container {
  position: relative;
  z-index: 1;
}

.subscription h2,
.subscription__main-header {
  margin: 0;
  padding-bottom: 25px;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $sapphire;
  text-align: center;
}

.subscription__tab-button {
  box-sizing: border-box;
  padding: 5px 0 20px;
  text-align: center;
  background-color: transparent;
  color: $sapphire;
  margin-bottom: -2px;
}

.subscription__nav {
  margin: 0 auto 19px;
  display: flex;
  justify-content: center;
  gap: 46px;
  width: fit-content;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
}

.subscription__content {
  padding: 20px 0;
}

.subscription__header {
  display: none;
}

.subscription__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 40px;
  list-style: none;
}

