.tabs__btn {
  border: 2px solid transparent;
  cursor: pointer;
}

.tabs__btn_active {
  border-bottom: 2px solid $crimson;
  cursor: default;
  color: $sapphire;
}

.tabs__btn:not(.tabs__btn_active) {
  @include hover-focus {
    opacity: 0.8;
  }
}

.tabs__pane {
  display: none;
}

.tabs__pane_show {
  display: block;
}
